.board {
  display: flex;
  flex-wrap: wrap;
}

.board-card {
  background-color: #f2f2f2;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
}

.board-card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.board-card p {
  font-size: 14px;
  color: #666;
}
